<%
    // initial values
    var configData = makeDrm.getConfig();

    var Site_ID     = configData.SITE_ID.toString();
    var User_ID = configData.TEST_USERID.toString();
    var Content_ID = Site_ID + "cid1234562";    // hard-coded cid
    var Order_ID = "testoid";                   // hard-coded for test


    var drmReqData = new Object();
    drmReqData.user_id = User_ID;
    drmReqData.cid = Content_ID;
    drmReqData.oid = Order_ID;

    var customData = makeDrm.encrypt(JSON.stringify(drmReqData));
    console.log(customData);
%>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>PallyCon Quickstart Demo</title>
<!-- Bootstrap core CSS -->
<link href="./css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="./css/stylish-portfolio.css" rel="stylesheet">
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-3.1.0.min.js"></script>
<script src="./js/bootstrap.js"></script>
<style type="text/css">
html
{
	min-width: 700px;
}
body
{
	font-family: 'Malgun Gothic';
}
.playerobject
{
	width: 0px;
	height: 0px;
}

.player_container{
	width: 720px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
	margin: 0 auto;
	text-align: center;
}
#player{
	width: 720px;
}
</style>
<script src="./js/viblast.js"></script>
<script type="text/javascript" charset="utf-8">
var playspeed = 1.0;
var is_chrome_or_firefox = false;

var agent = navigator.userAgent.toLowerCase();

if (agent.indexOf("chrome") != -1 || agent.indexOf("firefox") != -1){
	if(agent.indexOf("edge/") != -1){
		is_chrome_or_firefox = false;
	}else{
		is_chrome_or_firefox = true;
	}
}

function play(){
	var videoCheck = 0;
	viblast('#player').setup({
		key: 'N8FjNTQ3NDdhZqZhNGI5NWU5ZTI=',
		stream: './contents/bbb/stream.mpd',
		widevine: {
			'licensing-server': 'https://tokyo.pallycon.com/ri/licenseManager.do'
		},
		xhrBeforeSend: function(ev) {
			// filter out non-drm requests
			// ev.url.indexOf("//tokyo.pallycon.com/ri/licenseManager.do") < 0 is another possible check
			if (ev.method !== "POST") return;

			if (is_chrome_or_firefox) {
				ev.xhr.setRequestHeader('pallycon-customdata', '<%= "W"+Site_ID %>'+ $("#aesData1").val());
			}
			else {
				//alert("not chrome/firefox! is it IE/Edge?");
				ev.xhr.setRequestHeader('pallycon-customdata', '<%= "P"+Site_ID %>'+ $("#aesData1").val());
			}
			//console.log('Sending a ', ev.method, 'request to ', ev.url, 'by Viblast instance', ev.target);
			ev.xhr.addEventListener('load', function() {
				if( 1 > videoCheck){
					var responseText = String.fromCharCode.apply(null, new Uint8Array(ev.xhr.response)); // assumes utf8
					if (responseText.indexOf('errorCode') > 0) {
						// this alert should be properly parsed and displayed for commercial use
						var errorCode = JSON.parse(responseText).errorCode;
						if("8002" != errorCode){
							alert("PallyCon Error : " + JSON.parse(responseText).message + "(" + JSON.parse(responseText).errorCode+ ")");
							//window.alert('No Rights. Server Response ' + responseText);
						}else{
							var message = JSON.parse(responseText).message;
							alert("Error : " + JSON.parse(message).MESSAGE + "(" + JSON.parse(message).ERROR + ")");
						}
					}
					videoCheck += 1;
				}
			});
		},
		autoplay: true
	});
	document.getElementById('player').viblast.abr;
}

function makeCustomDrm() {
    $("#aesData1").val('<%= customData %>');
    play();
}

function resetPlaySpeed() {
	if (parseFloat(playspeed).toFixed(1) == 1.0)
		return;

	playspeed = 1.0;
	document.getElementById("text_speed").value = parseFloat(playspeed).toFixed(1)+"X";
	document.getElementById('player').playbackRate = playspeed;
}

function playSlower() {
	if (parseFloat(playspeed).toFixed(1) > 0.5) {
		playspeed -= 0.1;
		document.getElementById("text_speed").value = parseFloat(playspeed).toFixed(1)+"X";
		document.getElementById('player').playbackRate = playspeed;
	}
}

function playFaster() {
	if (parseFloat(playspeed).toFixed(1) < 2.0) {
		playspeed += 0.1;
		document.getElementById("text_speed").value = parseFloat(playspeed).toFixed(1)+"X";
		document.getElementById('player').playbackRate = playspeed;
	}
}

$(document).ready(function(){
	makeCustomDrm();
});
	</script>
</head>
<body>
<input type="hidden" id="aesData1">
    <div id="top" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                       PallyCon QuickStart DASH Player Demo</h1>
                    <br /><br />
                </div>
            </div>
            <div class="row">
    <form method="post">
        <p>Site ID : <input name="SITE_ID" type="text" size="8" maxlength="16" value="<%= configData.SITE_ID %>"/>
        Test UserID : <input name="TEST_USERID" type="text" size="16" maxlength="16" value="<%= configData.TEST_USERID %>"/>
        AES256 IV : <input name="AES256_IV" type="text" size="24" maxlength="24" readonly value="<%= configData.AES256_IV %>"/>
        <p>AUTH Key : <input name="AUTH_KEY" type="text" size="36" maxlength="36" value="<%= configData.AUTH_KEY %>"/>
        Packager Key : <input name="PACK_KEY" type="text" size="36" maxlength="36" value="<%= configData.PACK_KEY %>"/>
        <p><input type="submit" value="Apply Settings">
    </form>


                <div class="player_container">
					<video id="player" controls width="1080"></video>
					<input type="text" id="text_speed" value="1.0X">
					<a id="speed-increase-button" class="btn btn-large btn-primary" href='javascript:playFaster()'>Faster</a>
					<a id="speed-decrease-button" class="btn btn-large btn-primary" href='javascript:playSlower()'>Slower</a>
					<a id="speed-reset-button" class="btn btn-large btn-primary" href='javascript:resetPlaySpeed()'>Reset Speed</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro -->
    <div id="intro" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-12 text-center">
                    <h2 style="line-height:45px">
                        축하합니다! 위 비디오가 잘 재생되면 퀵스타트가 정상적으로 진행되고 있는 것입니다.</h2>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->
    <!-- Features -->
    <div id="features" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>
                        퀵스타트 진행 단계</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-play-circle"></i>
                        <h4>1단계 - 샘플 영상 재생</h4>
                        <p>데모 계정으로 미리 준비된 샘플 DRM 영상을 재생해봅니다.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-cloud"></i>
                        <h4>2단계 - 서비스 연동 정보 설정</h4>
                        <p>어드민 사이트에서 요청한 서비스 관련 각종 설정값을 세팅하고 게이트웨이 URL을 설정합니다.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-shield"></i>
                        <h4>3단계 - 샘플 패키징</h4>
                        <p>미리 준비된 원본 mp4 영상을 DASH/CENC 형태로 패키징합니다</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-ok"></i>
                        <h4>4단계 - 패키징 영상 재생 확인</h4>
                        <p>직접 패키징한 DASH 콘텐츠를 HTML5 플레이어로 재생해 봅니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Callout -->
    <!-- Call to Action -->
    <div id="contact" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>
                        퀵스타트 기술 문의</h2>
                    <br />
                    <p>
                       퀵스타트 진행에 어려움이 있으시면 <a href="http://help.netsync.co.kr">헬프데스크 사이트</a>로 문의해 주세요.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <!--
            <ul class="list-inline">
              <li><i class="icon-facebook icon-2x"></i></li>
              <li><i class="icon-twitter icon-2x"></i></li>
              <li><i class="icon-dribbble icon-2x"></i></li>
            </ul>
            <hr>
            -->
            <p>Copyright &copy; INKAENTWORKS Co.,Ltd.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->
    <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->

</body>
</html>
