<%
    // initial values
    var configData = makeDrm.getConfig();
    var drmReqData = new Object();
    drmReqData.user_id = configData.TEST_USERID;
    drmReqData.cid = configData.TEST_CID;
    // drmReqData.oid = "testoid"; // hard-coded for test

    var customData = makeDrm.encrypt(JSON.stringify(drmReqData));
    console.log(customData);
%>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>PallyCon Quickstart Demo</title>
<!-- Bootstrap core CSS -->
<link href="./css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="./css/stylish-portfolio.css" rel="stylesheet">
<link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-3.1.0.min.js"></script>
<script src="./js/bootstrap.js"></script>
<style type="text/css">
html
{
	min-width: 960px;
}
body
{
	font-family: 'Malgun Gothic';
}
.playerobject
{
	width: 0px;
	height: 0px;
}

.player_container{
	width: 800px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
	margin: 0 auto;
	text-align: center;
}
#player{
	width: 800px;
}
</style>
<script src="./js/viblast.js"></script>
<script type="text/javascript" charset="utf-8">
var playspeed = 1.0;
var is_chrome_or_firefox = false;

var agent = navigator.userAgent.toLowerCase();

if (agent.indexOf("chrome") != -1 || agent.indexOf("firefox") != -1){
	if(agent.indexOf("edge/") != -1){
		is_chrome_or_firefox = false;
	}else{
		is_chrome_or_firefox = true;
	}
}

function play(){
	var videoCheck = 0;
	viblast('#player').setup({
		key: '81c3aeb9-9aa6-48f0-a789-432603d671e2',
		stream: '<%= configData.TEST_STREAM.toString() %>',
		widevine: {
			'licensing-server': '<%= configData.LIC_SERVER.toString() %>'
		},
		xhrBeforeSend: function(ev) {
			// filter out non-drm requests
			// ev.url.indexOf("//tokyo.pallycon.com/ri/licenseManager.do") < 0 is another possible check
			if (ev.method !== "POST") return;

			if (is_chrome_or_firefox) {
				ev.xhr.setRequestHeader('pallycon-customdata', '<%= "W"+configData.SITE_ID %>'+ $("#aesData1").val());
			}
			else {
				//alert("not chrome/firefox! is it IE/Edge?");
				ev.xhr.setRequestHeader('pallycon-customdata', '<%= "P"+configData.SITE_ID %>'+ $("#aesData1").val());
			}
			//console.log('Sending a ', ev.method, 'request to ', ev.url, 'by Viblast instance', ev.target);
			ev.xhr.addEventListener('load', function() {
				if( 1 > videoCheck){
					var responseText = String.fromCharCode.apply(null, new Uint8Array(ev.xhr.response)); // assumes utf8
					if (responseText.indexOf('errorCode') > 0) {
						// this alert should be properly parsed and displayed for commercial use
						var errorCode = JSON.parse(responseText).errorCode;
						if("8002" != errorCode){
							alert("PallyCon Error : " + JSON.parse(responseText).message + "(" + JSON.parse(responseText).errorCode+ ")");
							//window.alert('No Rights. Server Response ' + responseText);
						}else{
							var message = JSON.parse(responseText).message;
							alert("Error : " + JSON.parse(message).MESSAGE + "(" + JSON.parse(message).ERROR + ")");
						}
					}
					videoCheck += 1;
				}
			});
		},
		autoplay: true
	});
	document.getElementById('player').viblast.abr;
}

function makeCustomDrm() {
    $("#aesData1").val('<%= customData %>');
    play();
}

function resetPlaySpeed() {
	if (parseFloat(playspeed).toFixed(1) == 1.0)
		return;

	playspeed = 1.0;
	document.getElementById("text_speed").value = parseFloat(playspeed).toFixed(1)+"X";
	document.getElementById('player').playbackRate = playspeed;
}

function playSlower() {
	if (parseFloat(playspeed).toFixed(1) > 0.5) {
		playspeed -= 0.1;
		document.getElementById("text_speed").value = parseFloat(playspeed).toFixed(1)+"X";
		document.getElementById('player').playbackRate = playspeed;
	}
}

function playFaster() {
	if (parseFloat(playspeed).toFixed(1) < 2.0) {
		playspeed += 0.1;
		document.getElementById("text_speed").value = parseFloat(playspeed).toFixed(1)+"X";
		document.getElementById('player').playbackRate = playspeed;
	}
}

$(document).ready(function(){
	makeCustomDrm();
});
	</script>
</head>
<body>
<input type="hidden" id="aesData1">
    <div id="top" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                       PallyCon QuickStart DASH Player Demo</h1>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="player_container">
					<video id="player" controls width="1080"></video>
					<input type="text" id="text_speed" value="1.0X">
					<a id="speed-increase-button" class="btn btn-large btn-primary" href='javascript:playFaster()'>Faster</a>
					<a id="speed-decrease-button" class="btn btn-large btn-primary" href='javascript:playSlower()'>Slower</a>
					<a id="speed-reset-button" class="btn btn-large btn-primary" href='javascript:resetPlaySpeed()'>Reset Speed</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro -->
    <div id="intro" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-12 text-center">
                    <h2 style="line-height:45px">
                        Congraturations! If you can see the video played above, your quickstart test is going well.</h2>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->
    <!-- Features -->
    <div id="features"  class="services">
         <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>
                        Quickstart Test Steps</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-play-circle"></i>
                        <h4>Step 1 - Playback sample DASH video</h4>
                        <p>Test playback of sample DRM content pakcaged with demo account. For the next step, go to PallyCon Admin site for service integration.</p>
                        <input type="button" value="Go to PallyCon Admin" onclick="window.open('http://admin.pallycon.com');"/>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-shield"></i>
                        <h4>Step 2 - Service Integration and Packaging</h4>
                        <p>After Gateway integration done, package sample mp4 content into DASH and NCG DRM format.</p>
                        <input type="button" value="Go to Config page" onclick="window.location.href='/config';"/>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="service-item">
                        <i class="service-icon icon-ok"></i>
                        <h4>Step 3 - Playback with NCG SDK sample</h4>
                        <p>Build NCG mobile SDK sample app and playback sample NCG content packaged in Step 2.</p>
                        <input type="button" value="Go to SDK download (Helpdesk)" onclick="window.open('http://help.netsync.co.kr');"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Callout -->
    <!-- Call to Action -->
    <div id="contact" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>
                        Need help?</h2>
                    <br />
                    <p>
                       Please create a ticket on <a href="http://help.netsync.co.kr">Helpdesk site</a> if you need support.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <!--
            <ul class="list-inline">
              <li><i class="icon-facebook icon-2x"></i></li>
              <li><i class="icon-twitter icon-2x"></i></li>
              <li><i class="icon-dribbble icon-2x"></i></li>
            </ul>
            <hr>
            -->
            <p>Copyright &copy; INKAENTWORKS Co.,Ltd.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->
    <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->

</body>
</html>
